/*font*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;700;800&display=swap');

/*---------------------VARIABLES CSS----------------------*/
:root {
    --header-height: 6.25rem;

    /*-----------------COLLORS----------------------------*/
    --main-color: #f7e6df;
    --first-color: #75492b;
    --second-color: #dfd6a7;
    --white-color: #ffffff;
    --black-color: #151515;

    /*-----------------FONT AND TYPOGRAPHY--------------------------*/
    --font-title: 'Great Vibes', cursive;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;

    /*-----------------FONT WEIGHT--------------------------*/
    --font-light: 300;
    --font-medium: 400;
    --font-bold: 800;
    --font-semi-bold: 700;

    /*-----------------MARGINS--------------------------*/
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*-----------------Z INDEXS--------------------------*/
    --z-fixed: 100;
    --z-tooltip: 10;
    --z_negative: -1;
}

/*---------------------BASE----------------------*/
* ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    max-width: flex;
    flex-wrap: wrap;
}

.section {
    padding: calc(var(--header-height) +20px) 0;
}

.grid {
    display: grid;
    gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*BUTTON*/
.btn {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--first-color);
    color: var(--white-color);
    border: 1px solid var(--first-color);
    border-radius: 50px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    line-height: var(--normal-font-size);
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.btn:hover{
    background-color: transparent;
    color: var(--first-color);
}

.btn_outline {
    width: 280px;
    background-color: transparent;
    color: var(--first-color);
    padding: 5px 10px 5px 0;
    transition: all 400ms ease-in-out;
    position: relative;
}

.btn__outline::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: var(--first-color);
    border-radius: 50%;
    transition: all 400ms ease-in-out;
}

.btn__outline i{
    margin-right: var(--mb-0-5);
    font-size: var(--h2-font-size);
    color: var(--white-color);
    z-index: var(--z-tooltip);
}

.btn__outline:hover::before{
    width: 100%;
    z-index: var(--z-negative);
}

.btn__outline:hover i{
    color: var(--white-color);
    z-index: var(--z-tooltip);
}

/*--------------NAVIGATION--------------*/
.l-header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 9999999;
    transition: all 400ms ease;
}

.navbar {
    justify-content: space-between;
    padding: 20px;
}

.nav__toggle {
    font-size: var(--h1-font-size);
    padding: 5px 5px 0;
    border> 2px solid transparent;
    cursor: pointer;
    z-index: var(--z-fixed);
}

.nav__toggle:hover {
    color: var(--first-color);
    border: 2px solid var(--first-color);
}

/*---------------MEDIA QUERY NAVBAR--------------*/
@media (max-width: 960px){
    .nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        height: 100vh;
        background-color: var(--main-color);
        font-size: var(--h2-font-size);
        text-align: center;
        text-transform: capitalize;
        padding-top: var(--header-height);
        transition : all 400ms ease-in-out;
    }

    .nav__item{
        padding: 15px 0;
    }

    .show-menu {
        width: 60%;
    }
}

.nav__link {
    font-weight: var(--font-semi-bold);
    color: var(--black-color);
    position: relative;
    transition: all 400ms ease;
}

.nav__link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--first-color);
    transition: all transform 400ms ease-in-out;
}

.nav__link:hover::before {
    width: 100%;
}

.nav__link:hover,
.nav__link.active-link {
    color: var(--first-color);
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    border-radius: 0 0 300px 0;
}

.hero .hero__img {
    display: none;
}

.hero .hero__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__content h1 {
    font-family: var(--font-cursive);
    font-size: var(--big-font-size);
    line-height: calc(var(--big-font-size) + 30px);
    letter-spacing: 0.1px;
    color: var(--first-color);
    margin-bottom: var(--mb-2-5);
}

.hero__content p {
    font-weight: var(--font-medium);
    text-align: center;
    line-height: calc(var(--normal-font-size) + 10px);
    padding: 0 3rem;
    letter-spacing: 0.2em;
    color: var(--black-color);
    margin-bottom: var(--mb-1-5);
}